/*-------------------------------*/
/*--------- Global CSS ----------*/
/*-------------------------------*/

html{
    touch-action: pan-y;
    background: #556B2F url("../../images/bg/page.png") no-repeat fixed center center;
}

html, button{
    font-family: "Comic Sans MS", sans-serif;
    font-weight: bold;
    font-size: 2vh;
}

header, footer, #table, #timer, #personalBest, #popUpContent p, #popUpContent button, .close{
    padding: 2.5%;
}

header, footer, #table, #timer, #personalBest, #popUpContent, #popUpContent button{
    border: 1px solid black;
    border-radius: 15px;
}

header, footer{
    justify-content: flex-start;
}

header, footer, #table, #popUpContent button{
    background-color: darkolivegreen;
}

header, footer, #table{
    display: flex;
    background: url("../../images/bg/table.png") no-repeat center center fixed;
}

html, header, footer, #table{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#timer, #personalBest, #popUpContent p, .restart{
    text-align: center;
}

#deck, #given, #goal, #goal div{
    display: inline-block;
}

#table img, header img{
    width: 13vw;
    height: 10vh;
}

#goal, #personalBest{
    margin-left: auto;
}

/*-------------------------------*/
/*--------- Footer CSS ----------*/
/*-------------------------------*/

footer{
    align-items: center;
}

#sound, #restartButton{
    width: 6vh;
    height: 6vh;
}

#restartButton, #timer{
    margin-left: 2vw;
}

#timer{
    background-color: olivedrab;
}

#personalBest{
    background-color: black;
    color: white;
    text-align: center;
}

#table{
    min-height: 70vh;
    align-items: flex-start;
    justify-content: center;
}

/*-------------------------------*/
/*---------- Main CSS -----------*/
/*-------------------------------*/

#table div{
    display: inline-block;
}

#table img{
    display: block;
    margin-bottom: -5vh;
}

#table img:last-child{
    margin-bottom: 0;
}

/*-------------------------------*/
/*---------- popUp CSS ----------*/
/*-------------------------------*/

#popUp{
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#popUpContent {
    font-family: "Comic Sans MS", sans-serif;
    background-color: olivedrab;
    margin: 25vh auto auto;
    width: 80%;
}

#popUpContent button{
    margin-left: 3vh;
    margin-bottom: 2vh;
}

.close {
    font-size: 1.3rem;
    float: right;
    color: black;
}

.close:hover,
.close:focus {
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*-------------------------------*/
/*--------- Desktop CSS ---------*/
/*-------------------------------*/

@media screen and (min-width: 1025px) {
    html,button{
        font-size: 1.7vh;
    }

    body{
        width: 26%;
        margin: 2.5vh auto auto;
    }

    #table img, header img{
        width: 3.5vw;
        height: 10vh;
    }

    #table img{
        margin-bottom: -6vh;
    }

    #timer{
        width: 3vw;
    }

    #personalBest{
        width: 6vw;
    }

    #popUpContent{
        width: 26%;
        margin-top: 35vh
    }
}

