html{
    touch-action: pan-y ;
    background: url("../../images/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img{
    width: 130px;
    height: 175px;
}

img[title="sound"]{
    width: 150px;
    height: auto;
}

#deck, #given, #goal, #goal div{
    display: inline-block;
}

#table, header, footer{
    border: solid 3px black;
    border-radius: 20px;
    background-color: red;
    display: flex;
    padding: 2%;
}

header, footer{
    justify-content: flex-start;
}

#table{
    align-items: flex-start;
    justify-content: center;
}

#table div{
    display: inline-block;
}

#table div img{
    display: block;
}

#goal {
    margin-left: auto;
}